<div class="title">
<h1>Stupid Coaching</h1>
</div>

<div class="question">
<h3><%= @question %></h3>
<p>-You</p>
</div>

<div class="Answer">
<h3><%= @answer%></h3>
<p>-coach</p>
</div>

<div class="link">
  <%= link_to("Ask a new question", ask_path)%>
</div>
